.item {
	@apply mb-4 flex items-stretch;

	> a {
		img {
			@apply rounded-image transition-colors;
			border: 1px solid transparent !important;
		}

		&:hover {
			img {
				border-color: var(--primary-color) !important;
			}
		}
	}

	.info {
		@apply ml-4 flex flex-col justify-between;
		width: 67%;

		.title {
			@apply text-white text-lg font-medium truncate;
		}

		.genre {
			@apply text-gray-600 text-sm;
		}

		.rating {
			@apply flex items-center mb-2;

			> svg {
				@apply fill-yellow-700 mr-2 text-lg;
			}

			> span {
				@apply text-white font-medium pt-0.5;
			}
		}
	}
}
