.logoWrapper {
	@apply flex items-center px-layout mb-10;

	.logo {
		@apply mr-[.5rem] animate-rotate;
	}

	.textWrapper {
		@apply flex flex-col;

		.text {
			@apply font-100 text-[1.3rem] leading-[1.3rem];

			> span {
				@apply font-[600] text-darkYellow;

				> span {
					@apply text-gray-500;
				}
			}
		}
	}
}
