{
	"trailingComma": "none",
	"tabWidth": 2,
	"useTabs": true,
	"semi": false,
	"singleQuote": true,
	"jsxSingleQuote": false,
	"bracketSpacing": true,
	"printWidth": 75,
	"arrowParents": "avoid",
	"endOfLine": "lf",
	"no-bracket-spacing": true
}