@import '@/assets/styles/_variables';

.gallery {
	@apply flex items-center overflow-x-auto flex-nowrap mb-8 h-44 sm:h-60 md:h-[15.4rem] lg:h-72 md:pb-2 md:box-content;
	-webkit-overflow-scrolling: touch;

	&:last-child {
		@apply mb-0;
	}

	&::-webkit-scrollbar {
		@apply md:block md:w-full md:h-[.55rem];
	}

	&::-webkit-scrollbar-track {
		@apply md:bg-gray-500 md:rounded-lg;
	}

	&::-webkit-scrollbar-thumb {
		@apply md:bg-gray-700 md:rounded-lg;
	}

	&::-webkit-scrollbar-thumb:hover {
		@apply md:bg-gray-600 md:cursor-pointer;
	}

	> a {
		@apply mr-4;
	}

	> a:last-child {
		@apply mr-0;
	}
}

.item {
	@apply relative transition-transform flex items-end shadow-lg rounded-layout overflow-hidden;
	flex: 0 0 auto;

	&:hover {
		transform: translateY(-5px);
	}

	&.vertical {
		@apply w-[7.063rem] sm:w-[9.063rem] lg:w-[10rem] h-[10rem] sm:h-[14rem] lg:h-[17rem];
	}

	&.horizontal {
		@apply w-full h-[11.5rem];
	}

	&.withText {
		@include fade-bg-gradient(0deg);
		&::before {
			@apply rounded-layout;
		}
	}

	img {
		@apply image-like-bg;
	}

	.content {
		@apply w-full z-2 p-3;

		.title {
			@apply font-semibold mb-1 text-white text-shadow;
		}

		.subTitle {
			@apply text-gray-500 text-shadow;
		}
	}
}
