.layout {
	@apply flex flex-col;

	.content {
		@apply md:flex md:justify-center;

		.leftSidebar,
		.rightSidebar {
			@apply relative md:min-h-[90vh] hidden md:block border border-solid border-gray-800 border-b-0 md:w-[17rem] lg:w-80 xl:w-[22rem] xxl:min-w-[20rem] py-layout md:px-[0.8rem] xl:px-6 xxl:px-layout;
		}

		.leftSidebar {
			-webkit-box-shadow: 11px -1px 23px -11px rgba(0, 0, 0, 0.59);
			-moz-box-shadow: 11px -1px 23px -11px rgba(0, 0, 0, 0.59);
			box-shadow: 11px -1px 23px -11px rgba(0, 0, 0, 0.59);
		}

		.rightSidebar {
			-webkit-box-shadow: -11px -1px 23px -11px rgba(0, 0, 0, 0.59);
			-moz-box-shadow: -11px -1px 23px -11px rgba(0, 0, 0, 0.59);
			box-shadow: -11px -1px 23px -11px rgba(0, 0, 0, 0.59);
		}

		.main {
			@apply relative md:container md:pt-8 md:pb-8  md:m-0 overflow-x-auto min-h-[90vh];

			.navbar {
				@apply md:hidden;
			}
		}
	}
}
