.searchList {
	@apply absolute border border-gray-700 rounded-layout bg-gray-800 w-full animate-fadeIn z-10 shadow-black;
	top: calc(100% + 15px);

	> a {
		@apply flex flex-col lg:flex-row items-center py-3 px-4 relative;

		&::after {
			@apply absolute -right-0.5 h-0 w-0.5 bg-transparent;
			content: '';
			top: 28%;
			transition: height 0.3s ease-in-out,
				background-color 0.3s ease-in-out;
		}

		&:hover::after {
			@apply bg-primary h-2/5;
		}

		img {
			@apply lg:mr-3 rounded-image object-cover object-top w-auto h-auto shadow-black;
		}

		> span {
			@apply text-white;
			display: -webkit-box;
			-webkit-box-orient: vertical;
			-webkit-line-clamp: 3;
			overflow: hidden;

		}
	}

	.informer {
		@apply h-20 md:h-10 flex justify-center items-center text-white text-center pt-4 mb-4;
	}
}
